.footer__container {
  display: flex;
  position: relative;
  font-size: 13px;
  bottom: 40px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  bottom: 0px;
}

.footer__creator {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 740px) {
  .footer__container {
    font-size: 12px;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 3px;
    right: 10px;
  }
}

@media (min-width: 740px) and (min-height: 740px){
  .footer__container{font-size: 15px;}
}

@media (min-width: 740px) and (min-height: 1000px){
  .footer__container{font-size: 18px;}
}