.footer__container {
  display: flex;
  position: relative;
  font-size: 13px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.footer__creator {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 750px) {
  .footer__container {
    font-size: 12px;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 3px;
    right: 10px;
  }
}
