.quoteBox {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 70vh;
  place-items: center;
  width: min (100%, 400px);
  padding: 20px 10px;
  margin: 0 auto;
  z-index: 1;
}
.quoteBox__title {
  display: flex;
  position: relative;
  padding: 15px;
  border-radius: 70%;
  font-size: 25px;
  color: transparent;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(253, 253, 253);

  text-shadow: var(--txt-shadow);
  filter: brightness(1.1);
}

.quoteBox__container {
  max-width: 300px;
  font-size: 18px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    black,
    rgb(23, 9, 27, 0.993),
    rgba(23, 9, 27, 0.445)
  );
  /* background-color: rgba(23, 9, 27, 0.685); */
  /* border: 1px solid whitesmoke; */
  border-radius: 30px;
  min-height: 138px;
}

.source {
  padding-top: 5%;
  text-align: center;
  text-shadow: var(--txt-shadow);
  transform: translateY(-65%);
}
.author {
  margin: 0;
  font-size: 22px;
  text-shadow: var(--txt-shadow);
  transform: translateY(-55%);
}

@media (min-width: 320px) {
  .quoteBox__title {
    font-size: 32px;
  }
}

@media (min-width: 740px) {
  .quoteBox__title {
    top: 0px;
  }
  .quoteBox__container {
    padding: 13px;
    font-size: 16px;
    max-width: 460px;
  }
  .source {
    font-size: 20px;
  }
  .author {
    font-size: 17px;
    padding-bottom: 30px;
  }
}

@media (min-height: 380px) {
  .source {
    padding-top: 7px;
    transform: translateY(0%);
  }
  .author{
    transform: translateY(0%);
  }
}
@media (min-height: 420px) {
  .quoteBox__container {
    min-height: 33vh;
  }
}

@media (min-width: 740px) and (min-height: 490px) {
  .quoteBox__title {
    font-size: 38px;
  }
  .quoteBox__container {
    font-size: 20px;
  }
  .source {
    padding-top: 28px;
    font-size: 24px;
  }
  .author {
    font-size: 20px;
    transform: translateY(0%);
  }
}

@media (min-width: 740px) and (min-height: 740px) {
  .quoteBox__title {
    font-size: 50px;
  }
  .quoteBox__container {
    font-size: 28px;
    max-width: 600px;
  }
  .source {
    font-size: 35px;
  }
  .author {
    font-size: 30px;
  }
}


@media (min-width: 740px) and (min-height: 1000px) {
  .quoteBox__title {
    font-size: 70px;
  }
  .quoteBox__container {
    font-size: 34px;
    max-width: 650px;
  }
  .source {
    font-size: 45px;
  }
  .author {
    font-size: 38px;
  }
}
